.main {
  background-image: url("https://i.pinimg.com/originals/26/22/8a/26228ae2f4eeb68e5c593b25c82e7b83.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "VT323", monospace;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.agregar{
  background-color: #F0EDCF;
  color: black;
  padding: 20px;
  margin: 15px;
  font-size: 28px;
  border: 0;
  transition: all .5s ease;
}
.agregar:hover{
  background-color: #000000;
  color: white;
  transition: all .5s ease;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th, .table td {
  padding: 8px;
}

.table th {
  background-color: #332941; 
  color: white; 
}

.table tbody{
  background-color: #2d325073;
  backdrop-filter: blur(5px);
}


.table button {
  padding: 10px; 
  transition: background-color 0.3s ease;
}

.table button.update {
  background-color: #65B741;
  color: white; 
}

.table button.delete {
  background-color: #cc0000;
  color: white;
}

.table button.update:hover {
  background-color: #304D30; 
}
.table button.delete:hover {
  background-color: #750E21; 
}